h1 {
	color:White;
	font-size:25px;
	text-align:center;
	}
html, body {
	background-image: url("http://wallpapercave.com/wp/qTLFWm0.jpg");
	font-family: Creepster;
}
p {
	font-size: 20px;
	text-align:center;
}
.button {
    background-color: black;
    border: none;
    color: green;
	cursor: pointer;
    display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	padding: 40px 80px;
    text-align: center;
    text-decoration: none;
}
